/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Poppins&display=swap');

body{
  font-family: 'Poppins', sans-serif !important;
}

.Play-fair{
  font-family: 'Playfair Display', serif;
}
/* ----------landing page---------- */
.dropdown-land{
  width: 80px;
}

.nav{
  background-color: white;
  color: #029E9D;
  outline: none;
}

.book-now{
  width: 130px;
  height: 50px;
  background-color: #029E9D;
  color: white;
  border-radius: 10px;
}
/* seipper */
#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}

body {

  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.yellow{
  color:#FFC00B ;
}
.swiper-title1{
  font-size: 18px;
}

.swiper-title2{
  font-size: 46px;
}

.swiper-amount{
  font-size:20px;
}

.white{
  color:#fff ;
}

.backround-image{
  background-position: center;
  background-size: cover;
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input{
  outline: none;
  background-color: #fff;
  width: 100%;
  color: #777777;
}
.main-input{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;}

.input-outerDiv{
  padding: 12px 5px;
  border: 1px solid #F1F1F1;
  border-radius: 7px;
  width: 80%;
}

.mountain-back{
  background-position: center;
  object-fit: fit;
}
.paint{
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.content-head-1{
  font-size: 22px;
}
.content-head-2{
  font-size: 36px;
  text-align: center;
}

@media screen and (min-width: 1024px) {
  .content-head-2{
    font-size: 46px;
    text-align: center;
  }
}

.content-para{
  font-size: 16px;
  text-align: center;
}

.card{
  border: 1px solid #F1F1F1;
  background-color: white;
  border-radius: 5px;
  padding: 48px;
}
.card-icon
{
  height: 60px;
  width: 58px;
  color: #777777;
  margin-bottom: 8px;
}

.card-head{
  font-size: 22px;
  margin-bottom: 16px;
}
.card-para{
  font-size: 16px;
  color: #777777;
  margin-bottom: 16px;
}

.card-review{
  font-size: 16px;
  color: #777777;
 text-align: center;
}

.img-radius{
  border-radius: 15px;  
}
.destination-btn{
  background-color: #777777;
  color: white;
  border-radius:10px ;
  padding: 10px 15px;
}
.background-img{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover  ;

}

.background-travelers{
  background-repeat: no-repeat;
  background-position:right;
  background-size:contain  ;
}
.tour-pic-btn{
  background-color: #777777;
  color: white;
  border-radius:7px ;
  padding: 10px 15px;
}
.background-top-pick {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}



